{

# Mapper configuration ##########################################################
    'map' => {
# one can specify either a single mapping file or an array of such files
	'file' => '/opt/pulma/mapping',
	'root' => ''
    },

# Data module configuration #####################################################
    'data' => {
	'type' => 'localdb',
	'failsafe' => 1,
	'data' => {
	    'driver' => 'SQLite',
	    'dsn' => '/opt/pulma/usr/db/data.db',
	    'user' => '',
	    'passwd' => '',
	    'init' => [
		{ 'method' => 'sqlite_enable_load_extension',
		  'args' => [ '1' ] },
		[ 'select load_extension(?)',
		  '/usr/lib64/sqlite3/pcre.so' ]
	    ]
	},
	'cache' => 'none'
    },

# Authorization module configuration ############################################
    'auth' => {
	'type' => 'localdb',
	'failsafe' => 1,
	'data' => {
	    'driver' => 'SQLite',
	    'dsn' => '/opt/pulma/usr/db/auth.db',
	    'user' => '',
	    'passwd' => '',
	    'init' => [
		{ 'method' => 'sqlite_enable_load_extension',
		  'args' => [ '1' ] },
		[ 'select load_extension(?)',
		  '/usr/lib64/sqlite3/pcre.so' ]
	    ]
	},
	'cache' => 'none'
    },

# Logger module configuration ###################################################

    'logger' => {
	'type' => 'localdb',
	'failsafe' => 1,
	'data' => {
	    'driver' => 'SQLite',
	    'dsn' => '/opt/pulma/usr/db/logger.db',
	    'user' => '',
	    'passwd' => '',
	    'init' => [
		{ 'method' => 'sqlite_enable_load_extension',
		  'args' => [ '1' ] },
		[ 'select load_extension(?)',
		  '/usr/lib64/sqlite3/pcre.so' ]
	    ]
	},
	'cache' => 'memory'
    },

########################## Pulma server configuration ##########################

# System log configuration ######################################################
    'syslog' => {
# syslog options
	'log_level' => 3, # use -1 (or any other negative number) to prevent
			  # write to syslog
	'syslog_facility' => 'daemon',
	'syslog_ident' => 'pulma',
	'syslog_logopt' => 'pid|cons|nofatal'
    },

# external logging. one can specify an anonymous function or name of an
# external function in form of 'ModuleName/function/argument1/argument2/...'
# for external function with arguments see documentation on Pulma::Service::Log
# module for important details
#     'external_log' => sub {},
#     'external_log' => 'Module/function',

# Templates engine configuration ################################################

# location of system templates
    'templates' => {
# location of web pages templates
        'path' => '/opt/pulma/usr/templates/',

# path to cached web pages
	'cache' => '/opt/pulma/var/cache/pulma/'
    },

# FastCGI server configuration ##################################################
    'fcgi' => {
# process manager settings
        'proc_manager' => {
                            n_processes => 3,
                            start_delay => 0,
                            die_timeout => 5,
                            pm_title => 'pulma'
        },

# binding
        'socket_path' => ':9000',

# queue length
        'listen_queue' => 5,

# location of PID file
        'pid_file' => '/opt/pulma/var/run/pulma/pulma.pid',

# chroot directory
#       'chroot' => '/opt/pulma/',

# user and group to become after server start
        'user' => '_nginx',
        'group' => '_nginx',

# id of the current pulma node
	'nodeid' => 'pulma01'
    }
}
